<h1>Listing recipes</h1>


<% @recipes.each do |recipe| %>
  <%= div_for (recipe) do %>
    <h2><%= link_to recipe.title, recipe %><h2>
    <h3><%= link_to recipe.zombie.name, recipe.zombie %></h3>
    <%= gravatar_image_tag(recipe.zombie.mail, class: 'gravatar', title: recipe.zombie.name, alt: recipe.zombie.name) %>
    <div class="clear"></div>
    <% if (recipe.imatge) then %>
      <%= image_tag recipe.imatge, class: "imatge" %>
    <% end %>
    <div class="recepta">
      <h4>Elaboration:</h4>
      <p class="body"><%= recipe.body %></p>
      <h4>Ingredients:</h4>
      <p class="ingredients"><%=  recipe.ingredients %></p>
      <p class="cooktime"><%= recipe.cooktime.to_s(:time) %></p>
      <%= recipe.rating %>
      <%= recipe.numVotes %>
      <!-- <%= link_to 'Show', recipe %> -->
      <%= link_to 'Edit', edit_recipe_path(recipe) %>
      <%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %>
    </div>
    <div class="clear"></div>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to content_tag(:span,'New Recipe'), new_recipe_path, class: "new_button" %>
