<h1>Last recipes</h1>

<p><%= link_to content_tag(:span,'New Recipe'), new_recipe_path, class: "new_button" %></p>

<% @recipes.each do |recipe| %>
  <%= div_for (recipe) do %>
    <h2><%= link_to recipe.title, recipe %><h2>
    <h3><%= link_to recipe.zombie.name, recipe.zombie %></h3>
    <%= gravatar_image_tag(recipe.zombie.mail, class: 'gravatar', title: recipe.zombie.name, alt: recipe.zombie.name) %>
    <div class="clear"></div>
    <% if !recipe.imatge.blank? then %>
      <%= image_tag recipe.imatge, class: "imatge" %>
    <% end %>
    <div class="recepta">
      <h4>Elaboration</h4>
      <p class="body"><%= recipe.body %></p>
      <div class='ingredients'>
		<h4>Ingredients</h4>
      	<p><%=  recipe.ingredients %></p>
	  </div>
      <p class="cooktime"><%= recipe.cooktime.to_s(:time) %></p>
      <!-- <%= recipe.rating %> -->
		<div class="rating">

		<% 
			(1..5).each do |i|
				if i <= number_with_precision(recipe.rating, precision: 0).to_i
					classes = ['rating-star', 'achieved']
				else
					classes = ['rating-star']
				end
				%>
				<%= link_to "", vote_recipe_path(recipe), class: classes %>
		<% end %>
		</div>
      <%= content_tag :div, pluralize(recipe.numVotes, "vot"), class: 'numVot' %>
      <!-- <%= link_to 'Show', recipe %> -->
	<div class='clear'></div>
		
    	<p>  
			<%= link_to 'Edit', edit_recipe_path(recipe) %>
      		<%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %>
		</p>
    </div>
    <div class="clear"></div>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to content_tag(:span,'New Recipe'), new_recipe_path, class: "new_button" %>
