<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Author:</b>
  <%= link_to @recipe.zombie.name, @recipe.zombie %>
</p>

<p>
  <b>Body:</b>
  <%= @recipe.body %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Cooktime:</b>
  <%= @recipe.cooktime %>
</p>

<p>
  <b>Rating:</b>
  <%= @recipe.rating %>
</p>

<p>
  <b>Numvotes:</b>
  <%= @recipe.numVotes %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
