<p><%
	if !(@zombie.avatar == "")
		concat image_tag @zombie.avatar, class:'avatar'
	else
		concat "No avatar"
	end
	%>
</p>
	
<p id="notice"><%= notice %></p>

<div class='zombie_info'>
	<p>
	  <b>Name:</b>
	  <%= @zombie.name %>
	</p>

	<p>
	  <b>Bio:</b>
	  <%= @zombie.bio %>
	</p>

	<p>
	  <b>Death:</b>
	  <%= @zombie.death %>
	</p>
</div>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
<div class='clear'></div>